[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".vim/bundle/nextval.vim"]
	path = .vim/bundle/nextval.vim
	url = https://github.com/qwertologe/nextval.vim
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/lexima.vim"]
	path = .vim/bundle/lexima.vim
	url = https://github.com/cohama/lexima.vim
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/doodzik/prezto
