[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/nextval.vim"]
	path = .vim/bundle/nextval.vim
	url = https://github.com/qwertologe/nextval.vim
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-pencil"]
	path = .vim/writing/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule ".vim/bundle/vim-lexical"]
	path = .vim/writing/vim-lexical
	url = https://github.com/reedes/vim-lexical
[submodule ".vim/bundle/vim-litecorrect"]
	path = .vim/writing/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect
[submodule ".vim/bundle/vim-textobj-sentence"]
	path = .vim/writing/vim-textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence
[submodule ".vim/bundle/vim-textobj-quote"]
	path = .vim/writing/vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote
[submodule ".vim/bundle/vim-wordy"]
	path = .vim/writing/vim-wordy
	url = https://github.com/reedes/vim-wordy
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/writing/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/writing/limelight.vim
	url = https://github.com/junegunn/limelight.vim
